
<div id="<%= dom_id friend %>">

<div class="card w-50 border-dark mb-3">
<h5 class="card-header card bg-dark text-white"><%= friend.first_name %> <%= friend.last_name %></h5>
<div class="card-body">
   
  <p class="card-text ">
    <strong>Email:</strong>
   <em> <%= friend.email %></em>
  </p>

  <p class="card-text">
    <strong>Phone:</strong>
   <em> <%= friend.phone %></em>
  </p>

  <p class="card-text">
    <strong>Twitter:</strong>
   <em> <%= friend.twitter %></em>
  </p>
</div>
</div>
<br/>